* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  background: url("./images/appbackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.app-container {
  max-width: 75%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 20px;
  min-height: 100%;
  background-attachment: fixed;
}

@media only screen and (max-width: 1000px) {
  .app-container {
    max-width: 92%;
  }
}

.set-container {
  text-align: center;
}

.image-container {
  text-align: center;
}

.question-image {
  max-width: 100%;
  height: auto;
}

.question-container {
  text-align: center;
}

.question-text {
  font-size: 1.8rem;
  letter-spacing: 3px;
}

.question-type {
  font-size: 1.4rem;
  margin-top: 10px;
}

.answers-container {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
}

.answer-choice {
  margin-bottom: 15px;
  margin-left: 40px;
  margin-right: 40px;
  padding: 10px 17px;
  cursor: pointer;
  border: 3px solid white;
  border-radius: 50px;
}

.answer-text {
  font-size: 1.4rem;
}

.answer-choice:hover {
  color: orangered;
  border: 3px solid orangered;
}

.selected {
  color: orangered;
  border: 3px solid orangered;
}

.button-container {
  text-align: center;
}

.cute-button {
  background-color: orangered;
  border-radius: 50px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 1.8rem;
  padding: 8px 16px;
  text-decoration: none;
  letter-spacing: 2px;
}
.cute-button:hover {
  background-color: #1894e7c5;
  box-shadow: 0px 0px 20px 0px #e48df3;
}
.cute-button:active {
  position: relative;
  top: 1px;
}

.splash-header {
  font-family: "Merienda One", Arial, sans-serif;
  font-size: 3rem;
}

.splash-image {
  max-width: 400px;
  height: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

.name-prompt {
  font-size: 1.8rem;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 10px;
}

.cute-input {
  margin-right: 20px;
  padding: 8px 16px;
  font-size: 1.8rem;
  background-color: white;
  color: #0d81e0;
  border-radius: 50px;
  max-width: 400px;
  text-align: center;
}

.results-header {
  font-size: 3rem;
  font-weight: bold;
}

.results-image {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 70%;
  height: auto;
}

.description-header {
  font-size: 2rem;
  margin-bottom: 20px;
  margin-top: 20px;
}

.description-body {
  font-size: 1.6rem;
  text-align: left;
  margin-left: 40px;
  margin-right: 40px;
}

.credits-header {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 2.5rem;
  font-weight: bold;
}

.credits-subheader {
  font-size: 1.5rem;
}
